<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Smtp" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>




	<appSettings>
		<add key="intervalo" value="120000"/>
		<add key="SqlConnection" value="Data Source=mdsoft.com.do;Initial Catalog=MovilBusiness5STD;User=jtineo;Password=1234;TrustServerCertificate=True;"/>	
		</appSettings>

	     <!--Configuracion de SMTP-->

			<!--Configuracion de SMTP DEINSA-->
		<Smtp>
		
			<add key="Host" value="smtp-mail.outlook.com"/>
			<add key="Port" value="587"/>
			<add key="EnableSsl" value="true"/>
			<add key="User" value="nandeliz@deinsa.net.do"/>
			<add key="Password" value="Sas82254"/>
		</Smtp>

	<!--<Smtp>
		<add key="Host" value="smtp-mail.outlook.com"/>
		<add key="Port" value="587"/>
		<add key="EnableSsl" value="true"/>
		<add key="User" value="Fgonzalezgol@hotmail.com"/>
		<add key="Password" value="Ade2128.*$"/>
	</Smtp>-->

	<connectionStrings>
	</connectionStrings>

</configuration>